@font-face {
    font-family: 'Hestrial';
    src:url('fonts/Hestrial.woff2') format('woff2'),
    url('fonts/Hestrial.woff') format('woff'),
     url('fonts/Hestrial.otf') format('opentype'),
         url('fonts/Hestrial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    color: #ffdbd1;
}

header {
    background-color: #57160b;
    color: #ffdbd1;
    padding: 50px;
    text-align: center;
}

#marie {
    font-family: 'Hestrial', sans-serif;
    padding: 80px;
    font-size: 50px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffdbd1;
    text-decoration: none;
}

.section {
    padding: 50px;
    text-align: center;
    background-color: #b22b14;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ffdbd1;
}

/* Spécifique à chaque catégorie */
#ux { background-color: #b22b14; }
#audiovisuel { background-color: #b22b14 ; } 
#motion { background-color: #b22b14; } 
#illustration { background-color: #b22b14; } 
#modelisation { background-color: #b22b14; } 

footer {
    background-color: #57160b;
    color: #ffdbd1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


.audiovisuel-container {
    display: flex;
    flex-direction: column; /* Empile chaque bloc vidéo + texte */
    align-items: center; /* Centre les éléments */
    gap: 40px; /* Espacement entre chaque vidéo */
    padding: 70px;
}

.M3d-container {
    display: flex;
    flex-direction: column; /* Empile chaque bloc vidéo + texte */
    align-items: center; /* Centre les éléments */
    gap: 40px; /* Espacement entre chaque vidéo */
    padding: 70px;
}

.video-text {
    display: flex;
    align-items: center; /* Aligne la vidéo et le texte sur la même ligne */
    gap: 20px; /* Ajoute un espace entre la vidéo et le texte */
    width: 100%; /* Prend toute la largeur */
    max-width: 900px; /* Limite la largeur */
}

.video-container {
    width: 40%; /* Réduit la taille des vidéos */
    max-width: 320px; /* Taille max */
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.video-description {
    width: 55%; /* Ajuste la largeur du texte */
    font-size: 1rem;
    color: #ffdbd1;
    text-align: left;
}

.video-local {
    width: 40%; /* Taille de la vidéo */
    max-width: 320px; /* Taille maximale */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.separator {
    border: none;
    height: 2px; 
    background-color: #57160b; 
    width: 95%; 
    margin: 50px auto; 
}
